extends layout

block content
    .container
        include ./navbars/navigation_signIn.pug
        .row.justify-content-between
            .col-lg-9
                include ./searchGames/searchGames.pug
            .col-lg-3
                include ./wishList/wishList.pug