.ui.fifteen.column.divided.grid
    .column Xbox One
        i.down.angle.icon
    .column PS4
        i.down.angle.icon
    .column Switch
        i.down.angle.icon
    .column Xbox 360
        i.down.angle.icon
    .column PS3
        i.down.angle.icon
    .column PC
        i.down.angle.icon
    .column Wii U 
        i.down.angle.icon
    .column 3DS
        i.down.angle.icon
    .column VR
        i.down.angle.icon
    .column Cool Stuff
        i.down.angle.icon
    .column Digital
        i.down.angle.icon
    .column Electronics
        i.down.angle.icon
    .column More
        i.down.angle.icon
    .column Pre-Owned
        i.down.angle.icon
    .column Trade Values
        i.down.angle.icon



    //- include ./consoleNavigationTemplate/xboxOne
    